<!-- filter -->
<div class="sorting-list">
    <div class="sorting-left">
        @Html.Action("Dropdown", "KiemTra")
    </div>
    <div class="sorting-text">Filtering By Categories</div>
    <div class="clearfix"></div>
</div>
<!-- //filter -->
