<!--- main content --->
<div class="products">
    <div class="container">
        <!-- right products grid -->
        <div class="agile_top_brands_grids" id="listProduct">
            
            @Html.Action("ListProduct", "KiemTra")
            
        </div>
        <div class="clearfix"> </div>
        <!-- right products grid -->
    </div>
</div>
<!--- main content --->
